/*Feuille de style pour la page des annonces*/

.annonce
{
width:860px;
padding:10px 10px 10px 10px;


}
.annonce .parent{
width:880px;

 }

.annonce .parent li{
display:inline-table;
margin-left:3px;

/*width:200px;*/

min-height:200px;
padding:5px 2px 2px 2px;
}

.annonce .parent li a{
margin-left:10px;
}



.ann
{


}

/*intitulé des categories*/

h3
{
/*background-color:#178FCD;*/
color:#178FCD;

width:170px;
height:25px;
padding:2px 2px 2px 2px;
margin-left:3px;




}


.content #ilen{

width:800px;
float:right;
padding:10px 10px 10px 10px;
margin-left:20px:
}



.content #ilen #article{
font-size:12px;
}
.content #ilen   p{
width:550px;
float:right;
}
.content #ilen #date{

float:right;
}

/*les dernieres annonces parues*/


.last
{
width:900px;
border-bottom:solid 1px #1796d6;

}

.last h3
{
border:none;
width:190px;
}
.last ul
{

}

.last ul li
{
display:inline-table;
margin-left:3px;
height:160px;
}

.last ul li a
{

}
.resume
{
width:850px;
padding:10px;
position: relative;
margin:auto;


}

.resume  #titre{
font-size:20px;
/*border-bottom:solid 1px #f60;*/

}
.resume h3
{
display:block;
color:#178FCD;
width:50%;
padding:10px;
position: relative;
float:left;
}
.resume h5
{
padding:10px;
position: relative;
float:right;
font-size:12px;

}
.resume img
{

float:left;


}
.ariane
{
width:100%;
height:40px;
padding:10px;
position: relative;
margin:auto;


}
.detail
{
width:600px;
padding:10px;
position: relative;
margin:auto;


}
.detail h3
{
display:inline;

}
.detail img
{
float:right;
display:inline;
}

/*pour les annonces du mm genre*/

.plus

{
position: relative;/* donne hasLayout à IE6 de façon à permettre un effacement correct */
clear: both; /* cette propriété d'effacement force le .container à comprendre où se terminent les colonnes et à les contenir */
min-height:150px;

margin:auto;
}
