/*cette feuille de style est dédiée aux différent boutons qui seront utilisés dans les pages du site*/
/*nouvelle navigation*/


.nav {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	/*box-shadow:inset 0px 1px 0px 0px #ffffff;*/
	/*background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ccc), color-stop(1, #000) );
	background:-moz-linear-gradient( center top, #ccc 5%, #000 100% );*/
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1790cd', endColorstr='#1796d6');
	background-color:#000;/*#1790cd;*/
	-moz-border-radius:5px 5px 0 0;
	-webkit-border-radius:5px 5px 0 0;
	border-radius:5px 5px 0 0;
	/*border:1px solid #dcdcdc;*/
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:14px;
	font-weight:normal;
	padding:5px 15px;
	text-decoration:none;
	/*pour la transition*/
	-webkit-transition:color 250ms ease-out; 
    -moz-transition:color 250ms ease-out; 
    -o-transition:color 250ms ease-out; 
    transition:color 250ms ease-out; 
	/*appliquer une transition*/
	transition: background 0.5s;
}

.snav {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	/*box-shadow:inset 0px 1px 0px 0px #ffffff;*/
	/*background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ccc), color-stop(1, #000) );
	background:-moz-linear-gradient( center top, #ccc 5%, #000 100% );*/
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1790cd', endColorstr='#1796d6');
	background-color:#000;/*#1790cd;*/
	-moz-border-radius:5px 5px 0 0;
	-webkit-border-radius:5px 5px 0 0;
	border-radius:5px 5px 0 0;
	/*border:1px solid #dcdcdc;*/
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:14px;
	font-weight:normal;
	padding:5px 15px;
	text-decoration:none;
	/*pour la transition*/
	-webkit-transition:color 250ms ease-out; 
    -moz-transition:color 250ms ease-out; 
    -o-transition:color 250ms ease-out; 
    transition:color 250ms ease-out; 
	/*appliquer une transition*/
	transition: background 0.5s;
}
.nav:hover {
	background-color:#1796d6;
	transition:background 0.5s;
}.nav:active {
	position:relative;
	top:1px;
}



/*boutons de classement de recherches sur la page d'accueil*/


.btn {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:6px 6px 0 0;
	-webkit-border-radius:6px 6px 0 0;
	border-radius:6px 6px 0 0;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#000000;
	font-family:Arial;
	font-size:15px;
	font-weight:normal;
	padding:2px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
}.btn:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}.btn:active {
	position:relative;
	top:1px;
}
/*pour le bouton ajouter une entreprise*/

.adbtn{
/*definition des marges*/
/*margin-top:10px;*/
/*definition de l'orientation "FLOAT"*/
  float:right;
/*margin-right:13px;*/
/*end*/
	background-color:#4784ed;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:normal;
	padding:7px 7px 0 7px;
	text-decoration:none;
	height:30px;
	margin-top:-10px;
	/*pour la transition*/
	-webkit-transition:color 250ms ease-out; 
    -moz-transition:color 250ms ease-out; 
    -o-transition:color 250ms ease-out; 
    transition:color 250ms ease-out; 
	/*appliquer une transition*/
	transition: background 0.5s;
}
.adbtn:hover {
	background-color:#3FAEEA;
	
}.adbtn:active {
	position:relative;
	top:1px;
}

/*bouton de validation de la news letter*/

.okbut{
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:6px 6px 6px 6px;
	-webkit-border-radius:6px 6px 6px 6px;
	border-radius:6px 6px 6px 6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#1790cd;
	font-family:Arial;
	font-size:12px;
	font-weight:normal;
	padding:5px 7px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
}
.okbut:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}
.email{

-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:6px 6px 6px 6px;
	-webkit-border-radius:6px 6px 6px 6px;
	border-radius:6px 6px 6px 6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#1790cd;
	font-family:Arial;
	font-size:12px;
	font-weight:normal;
	padding:5px 7px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;

}
/*pour le moteur de recherche*/

.searchbtn{
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#AC0B17;/*#ededed*/
	/*-moz-border-radius:6px 6px 6px 6px;
	-webkit-border-radius:6px 6px 6px 6px;
	border-radius:6px 6px 6px 6px;*/
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#178FCD;
	width:160px;
	font-family:Arial;
	font-size:18px;
	font-weight:normal;
	padding:4px 7px;
	text-decoration:none;
	text-transform: uppercase;/*texte en magiscule*/
	font-weight: bold;/*texte en gras*/
	text-shadow:1px 1px 0px #ffffff;
}
.searchbtn:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}



/* fin */

