/*@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');*/

/*--- Media Queries ---*/
@media screen (max-width: 992px) {}

@media (max-width: 768px) {}

@media (max-width: 576px) {

}	

@media screen and (max-width: 500px) {
	
		.backgroundimg: { width: 100%;}
		.loginbox: {width: 100%!important;float: none; }
		
		
	
}
	
	.backgroundimg {
	background-image: url('../imgs/sign2.jpg');
    background-size: cover;
    background-position: center center ; 
    background-repeat: no-repeat; 
    padding: 0;
    margin : 0;
    font-family: sans-serif;
    height: 100%;
    width: 100%; 
    position: absolute;

	}

	.loginbox {
		width: 380px;
		height: 450px;
		background: #ebebe0;
		/*color: #4d4d33;*/
		top : 50%;
		left: 50%;
		position: absolute;
		transform: translate(-50% , -50%);
		box-sizing: border-box;
		opacity: 0.75;
		border-radius: 10px;
		text-indent: 20px;
		padding-top: 30px;
		position: absolute;


	}

	.avatar {
		width: 90px;
		height: 90px;
		border-radius: 50%;
		position: absolute;
		top: -40px;

		left: calc(50% - 50px);

	}



	#email {
		
		width: 250px;
		height: 40px;
		border-radius: 10px;
		color: #2e2e1f;
		text-indent: 10px;
		margin-left: 65px;

		
	}

	#password {
		
		width: 250px;
		height: 40px;
		border-radius: 10px;
		color: #2e2e1f;
		text-indent: 10px;
		margin-left: 25px;
		
	}

	 #submit {
		
		width: 250px;
		height: 40px;
		border-radius: 10px;
		color: #2e2e1f;
		text-indent: 0px;
		margin-left: 100px;
		width: 120px;
		font-weight: bold;
		
	}

	#form1 {
		margin-top: 40px;
		
	}

	#label1 {
		margin-left: 100px;
	}

	#label2 {
		margin-left: 60px;
	}

	
	.inputButton {
    background: #00a8ff;
    color: #fff;
    font-family: Sans-serif;
    font-size: 20px; 
    line-height: 30px;
    margin: 45px 115px;
    text-align: center;
    border: 0;
    transition: all 0.3s ease 0s;
    border-radius: 10px;    
}

/* pour la page d inscription du client */

.signonbox{
		width: 650px;
		height: 450px;
		background: #ebebe0;
		color: #00a8ff;
		top : 50%;
		left: 50%;
		position: absolute;
		transform: translate(-50% , -50%);
		box-sizing: border-box;
		opacity: 0.75;
		border-radius: 10px;	
		padding-top: 0px;
		padding-left: 40px;
		position: absolute;

		
}

h2 {
	margin-left: 225px;
	color: #00a8ff;

}

#nom , #prenom , #email1 , #password1 , #cpassword1 , #tel , #adresse {
		width: 250px;
		height: 30px;
		border-radius: 7px;
		/*color: #2e2e1f;*/
		text-indent: 40px;
		margin-left: 20px;
		margin-top: 10px;
		transition: 3s;
		

}

 #submit1{
		width: 120px;		
		height: 40px;
		border-radius: 10px;
		color: #fff;
		margin-left: 430px;		
		margin-top: 50px;
		font-size: 16px;
		background-color: #00a8ff;
		border : none;
	}

#name {
	margin-left: 0px ;
}

i {
	position: absolute;	
	padding: 20px 0 0 25px ;
}

/*input , input:focus + i {
	color :#00a8ff ; 
	font-size: 14px;

}*/

